.App {
  min-height: 100vh;
  /* background-color: lightseagreen; */
  background-color: #4441;
  display: grid;
  grid-template: .072fr 1fr / 1fr;
  row-gap: 50px;
}
  .App-header {
    border-bottom: 1px solid #4444;
    background-color: #ffbb84;
    font-size: 45px;
    text-align: center;
  }
  .App-main {
    width: 80%;
    justify-self: center;
    background-color: #fff;
  }